@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quattrocento:wght@400;700&display=swap");
.dashboard{
    @apply flex flex-col justify-center items-center pt-[150px];
    background: var(--color-main-light);
    h1{
        @apply uppercase text-5xl font-normal;
        font-family: 'Quattrocento';
        color: var(--color-darker);
    }
    button{
        @apply flex flex-row justify-center items-center py-2 px-5 rounded-2xl transition-all ease-in-out duration-200 text-[var(--color-main-light)] bg-[var(--color-main)] hover:bg-[var(--color-darker)] hover:text-[var(--color-main-light)];
    }
    .productList{
        @apply flex flex-wrap mt-10 pb-14 flex-row justify-center items-center gap-5 max-w-7xl;
        .productItem{
            @apply relative w-[150px] h-[200px] lg:w-[300px] lg:h-[350px] bg-white bg-opacity-30 hover:bg-opacity-70 transition-all duration-300 cursor-pointer;
            img{
                @apply absolute w-full top-[50%] translate-y-[-50%] object-cover h-auto bg-transparent;
                mix-blend-mode: multiply;
            }
            h1{
                @apply absolute bottom-[20px] uppercase px-2 text-xs md:text-sm lg:text-lg w-full text-center left-[50%] font-semibold translate-x-[-50%];
                font-family: 'Quattrocento';
                color: var(--color-darker);
            }
            .controlBtns{
                @apply absolute z-20 w-full flex flex-row justify-between items-center px-5 py-3;
                button{
                    @apply flex flex-row items-center justify-center transition-all ease-in-out duration-200 rounded-2xl py-2 px-5 text-[var(--color-darker)] hover:text-[var(--color-main-light)] bg-[var(--color-main-light)] hover:bg-[var(--color-darker)];
                } 
            }
        }
    }
}
// -------------------------------------------------------------------------------

.addProduct{
    @apply flex flex-col min-h-[70vh] justify-center bg-[var(--color-main-light)] items-center pt-[150px];
    div{
        @apply w-full max-w-4xl justify-start items-start;
        a{
            @apply text-left flex flex-row justify-center items-center w-[120px] rounded-xl py-1 bg-[var(--color-darker)] text-[var(--color-main-light)] mb-5;
        }
    }

    h1{
        @apply uppercase font-normal text-center text-4xl text-[var(--color-darker)] mb-5;
        font-family: 'Quattrocento';
    }
    form{
        @apply flex flex-col justify-center items-center max-w-5xl gap-2;
        div{
            @apply relative flex flex-row justify-center w-full items-center gap-2 text-center;
        }
        input, textarea, select{
            @apply relative outline-none py-2 px-5 w-full rounded-xl;
        }
        button{
            @apply py-2 px-5 bg-[var(--color-darker)] rounded-xl text-[var(--color-main-light)];
        }
    }
}

// -------------------------------------------------------------------------------

.editProduct{
    @apply flex flex-col min-h-[70vh] w-full justify-center bg-[var(--color-main-light)] items-center pt-[150px];
    div{
        @apply w-full max-w-4xl justify-start items-start;
        a{
            @apply text-left flex flex-row justify-center items-center ml-[50px] w-[120px] rounded-xl py-1 bg-[var(--color-darker)] text-[var(--color-main-light)] mb-10;
        }
    }

    h1{
        @apply uppercase font-normal text-center text-4xl text-[var(--color-darker)] mb-5;
        font-family: 'Quattrocento';
    }
    form{
        @apply flex flex-col justify-center items-center max-w-5xl gap-2;
        label{
            @apply text-lg font-bold;
            font-family: 'Quattrocento';
        }
        div{
            @apply relative flex flex-row justify-center w-full mt-2 items-center gap-2 text-center;
            div{
                @apply relative flex flex-col justify-center items-start;
            }
        }

        section{
            @apply flex flex-col w-full justify-center items-start gap-4 mt-5;
            div{
                @apply flex flex-row justify-center items-center;
                img{
                    @apply w-full max-w-[250px] rounded-lg;
                }
                a{
                    @apply py-2 mb-0 ml-0 px-5 w-full max-w-[300px];
                }

            }
        }
        input, textarea, select{
            @apply relative outline-none py-2 px-5 w-full rounded-xl;
        }
        button{
            @apply py-2 px-5 my-10 bg-[var(--color-darker)] rounded-xl text-[var(--color-main-light)];
        }
    }
}

// Loading Page section

.loadingPage{
    @apply fixed z-50 w-screen h-screen top-0 left-0 bg-[var(--color-main-light)] flex flex-col justify-center items-center;
    
}